    
    <head>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    </head>
    
    <%= link_to 'admin access', index_path%>
    
    <div class="placeholder">
       <h1>Rego Pizza Website</h1>
       <h2>Coming soon... :)</h2>
        <img src="placeholder-img.jpeg" alt="">
    </div>
    
    